.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fastq.gz
*/*.fastq.gz
*/*/*.fastq.gz
*/*/*/*.fastq.gz
*/*/*/*/*.fastq.gz
*.sra
*/*/*/*/*.sra
*/*/*/*.sra
*/*/*.sra
*/*.sra
*.fq.gz
*/*.fq.gz
*/*/*.fq.gz
*/*/*/*.fq.gz
*/*/*/*/*.fq.gz